<h2>Create a workout</h2>
<form action="/workouts" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Date: <input type="text" name="date"></p>
  <input type="submit" name="submit" value="submit">
</form>
