<p> Welcome, <%= current_user.username %>
<h2> Workouts </h2>

<% @workouts.each do |workout| %>
  <div>
    <%= workout.name %>
    <%= workout.date %>
  </div>
<% end %>

<!-- <a href="/workouts/new"> Create New Exercise </a> -->
<a href="/workouts/show"> See Workout </a>
