<p> Here are your workouts, <%= @user.username %>
<% @user.workouts.each do |workout| %>
  <div>
    <p>Name:<%= workout.name %></p>
    <p>Date:<%= workout.date %></p>
  </div>
<% end %>
<br>
<a href="/workouts/new">New Workout</a>
