<h2>Welcome to ScottFit!</h2>


<nav>
  <% if logged_in? %>

  <h3>Welcome, <%=current_user.username %></h3>
    <a href="/workouts/new"> Create Workout </a><br>
    <a href="/users/<%=@user.id%>"> See Workouts </a><br>
    <a href="/logout"> Log Out </a>

  <% else %>
    <a href="/signup">Sign Up</a>
    <a href="/login"> Sign In </a>
  <%end %>

</nav>
