<h2>Add an Exercise</h2>
<form action="/workouts" method="POST">
  <p>Exercise: <input type="text" name="exercise"></p>
  <p>sets: <input type="text" name="sets"></p>
  <p>weight: <input type="text" name="weight"</p>
  <input id="workout_id" name="workout_id" type="hidden">
  <input type="submit" name="submit" value="submit">
</form>
