<h2>Add a workout</h2>
<form action="/exercises" method="POST">
  <p>Exercise: <input type="text" name="exercise"></p>
  <p>Sets: <input type="integer" name="sets"></p>
  <p>Weight: <input type="integer" name="weight"></p>
  <p>Workout_id: <input type="integer" name="workout_id"></p>
  <input type="submit" name="submit" value="submit">
</form>
